.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Secular One', sans-serif;
  font-size: 3.5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.375rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.45rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #48887b !important;
}
.bg-success {
  background-color: #48887b !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #d9da35 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #48887b !important;
  border-color: #48887b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2a4f48 !important;
  border-color: #2a4f48 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2a4f48 !important;
  border-color: #2a4f48 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #48887b !important;
  border-color: #48887b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a4f48 !important;
  border-color: #2a4f48 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a4f48 !important;
  border-color: #2a4f48 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #d9da35 !important;
  border-color: #d9da35 !important;
  color: #0d0e02 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #9b9c1d !important;
  border-color: #9b9c1d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #0d0e02 !important;
  background-color: #9b9c1d !important;
  border-color: #9b9c1d !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #48887b;
  color: #48887b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2a4f48 !important;
  background-color: transparent!important;
  border-color: #2a4f48 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #48887b !important;
  border-color: #48887b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #48887b;
  color: #48887b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a4f48 !important;
  background-color: transparent!important;
  border-color: #2a4f48 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #48887b !important;
  border-color: #48887b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #d9da35;
  color: #d9da35;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #9b9c1d !important;
  background-color: transparent!important;
  border-color: #9b9c1d !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #0d0e02 !important;
  background-color: #d9da35 !important;
  border-color: #d9da35 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #48887b !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #48887b !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #d9da35 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #25453f !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #25453f !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #8e8f1a !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #48887b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #d9da35;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #48887b;
  border-color: #48887b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #48887b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #8dc3b8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #8dc3b8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f9fae1;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #48887b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #48887b;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #48887b;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #48887b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #48887b;
  border-bottom-color: #48887b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #48887b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2348887b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tqQ2IUjlGT {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tqQ2IUjlGT nav.navbar {
  position: fixed;
}
.cid-tqQ2IUjlGT .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tqQ2IUjlGT .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tqQ2IUjlGT .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tqQ2IUjlGT .dropdown-item:hover,
.cid-tqQ2IUjlGT .dropdown-item:focus {
  background: #48887b !important;
  color: white !important;
}
.cid-tqQ2IUjlGT .dropdown-item:hover span {
  color: white;
}
.cid-tqQ2IUjlGT .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tqQ2IUjlGT .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tqQ2IUjlGT .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tqQ2IUjlGT .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tqQ2IUjlGT .nav-link {
  position: relative;
}
.cid-tqQ2IUjlGT .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tqQ2IUjlGT .container {
    flex-wrap: wrap;
  }
}
.cid-tqQ2IUjlGT .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tqQ2IUjlGT .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tqQ2IUjlGT .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tqQ2IUjlGT .dropdown-menu,
.cid-tqQ2IUjlGT .navbar.opened {
  background: #48887b !important;
}
.cid-tqQ2IUjlGT .nav-item:focus,
.cid-tqQ2IUjlGT .nav-link:focus {
  outline: none;
}
.cid-tqQ2IUjlGT .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tqQ2IUjlGT .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tqQ2IUjlGT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tqQ2IUjlGT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tqQ2IUjlGT .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tqQ2IUjlGT .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tqQ2IUjlGT .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #48887b;
}
.cid-tqQ2IUjlGT .navbar.opened {
  transition: all 0.3s;
}
.cid-tqQ2IUjlGT .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tqQ2IUjlGT .navbar .navbar-logo img {
  width: auto;
}
.cid-tqQ2IUjlGT .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tqQ2IUjlGT .navbar.collapsed {
  justify-content: center;
}
.cid-tqQ2IUjlGT .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tqQ2IUjlGT .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tqQ2IUjlGT .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tqQ2IUjlGT .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tqQ2IUjlGT .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tqQ2IUjlGT .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tqQ2IUjlGT .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tqQ2IUjlGT .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tqQ2IUjlGT .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tqQ2IUjlGT .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tqQ2IUjlGT .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tqQ2IUjlGT .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tqQ2IUjlGT .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tqQ2IUjlGT .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tqQ2IUjlGT .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tqQ2IUjlGT .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tqQ2IUjlGT .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tqQ2IUjlGT .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tqQ2IUjlGT .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tqQ2IUjlGT .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tqQ2IUjlGT .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tqQ2IUjlGT .navbar.navbar-short {
  min-height: 60px;
}
.cid-tqQ2IUjlGT .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tqQ2IUjlGT .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tqQ2IUjlGT .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tqQ2IUjlGT .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tqQ2IUjlGT .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tqQ2IUjlGT .dropdown-item.active,
.cid-tqQ2IUjlGT .dropdown-item:active {
  background-color: transparent;
}
.cid-tqQ2IUjlGT .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tqQ2IUjlGT .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tqQ2IUjlGT .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tqQ2IUjlGT .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #48887b;
}
.cid-tqQ2IUjlGT .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tqQ2IUjlGT .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tqQ2IUjlGT ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tqQ2IUjlGT .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tqQ2IUjlGT button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tqQ2IUjlGT button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #d9da35;
}
.cid-tqQ2IUjlGT button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tqQ2IUjlGT button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tqQ2IUjlGT button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tqQ2IUjlGT button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tqQ2IUjlGT nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tqQ2IUjlGT nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tqQ2IUjlGT nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tqQ2IUjlGT nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tqQ2IUjlGT .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tqQ2IUjlGT a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tqQ2IUjlGT .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tqQ2IUjlGT .navbar {
    height: 70px;
  }
  .cid-tqQ2IUjlGT .navbar.opened {
    height: auto;
  }
  .cid-tqQ2IUjlGT .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tqHRMfkz1u {
  background-image: url("../../../assets/images/2.png");
}
.cid-tqHRMfkz1u .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqHRMfkz1u .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqHRMfkz1u .mbr-section-title {
  color: #48887b;
}
.cid-tqHRMfkz1u .mbr-text,
.cid-tqHRMfkz1u .mbr-section-btn {
  color: #232323;
}
.cid-trpn7w8K7t {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #48887b;
}
.cid-trpn7w8K7t .mbr-fallback-image.disabled {
  display: none;
}
.cid-trpn7w8K7t .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trpn7w8K7t .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-trpn7w8K7t .row {
    flex-direction: column-reverse;
  }
  .cid-trpn7w8K7t .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-trpn7w8K7t .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-trpn7w8K7t .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-trpn7w8K7t .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-trpn7w8K7t .card-title {
  color: #d9da35;
}
.cid-trpn7w8K7t .mbr-text,
.cid-trpn7w8K7t .mbr-section-btn {
  color: #ffffff;
}
.cid-tqIKIIiCuO {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tqIKIIiCuO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqIKIIiCuO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqIKIIiCuO .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tqIKIIiCuO .row {
    flex-direction: column-reverse;
  }
  .cid-tqIKIIiCuO .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tqIKIIiCuO .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tqIKIIiCuO .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-tqIKIIiCuO .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tqIKIIiCuO .card-title {
  color: #48887b;
}
.cid-trpmIIbGzD {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #48887b;
}
.cid-trpmIIbGzD .row-links {
  width: 100%;
  justify-content: center;
}
.cid-trpmIIbGzD .social-row {
  width: 100%;
  justify-content: center;
}
.cid-trpmIIbGzD .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-trpmIIbGzD .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-trpmIIbGzD .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-trpmIIbGzD .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-trpmIIbGzD .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-trpmIIbGzD .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-trpmIIbGzD .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-trpmIIbGzD .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-trpmIIbGzD .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-trpmIIbGzD .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-trpmIIbGzD .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-trpmIIbGzD .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-tqPRflSDFn {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffffff;
}
.cid-tqPRflSDFn .carousel {
  width: 100%;
}
.cid-tqPRflSDFn .carousel-inner {
  display: flex;
  align-content: center;
  align-items: center;
}
.cid-tqPRflSDFn .carousel-item img {
  height: 100vh;
  object-fit: cover;
}
.cid-tqPRflSDFn .carousel-caption {
  bottom: 40px;
}
.cid-tqPRflSDFn .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-tqPRflSDFn .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-tqPRflSDFn .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-tqPRflSDFn .item-wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-tqPRflSDFn .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-tqPRflSDFn .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-tqPRflSDFn .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-tqPRflSDFn .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tqPRflSDFn .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tqPRflSDFn .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tqPRflSDFn .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tqPRflSDFn .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-tqPRflSDFn .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tqPRflSDFn .carousel-indicators li.active,
.cid-tqPRflSDFn .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tqPRflSDFn .carousel-indicators li::after,
.cid-tqPRflSDFn .carousel-indicators li::before {
  content: none;
}
.cid-tqPRflSDFn .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tqPRflSDFn .carousel-indicators {
    display: none !important;
  }
}
.cid-tqQ2IUjlGT {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tqQ2IUjlGT nav.navbar {
  position: fixed;
}
.cid-tqQ2IUjlGT .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tqQ2IUjlGT .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tqQ2IUjlGT .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tqQ2IUjlGT .dropdown-item:hover,
.cid-tqQ2IUjlGT .dropdown-item:focus {
  background: #48887b !important;
  color: white !important;
}
.cid-tqQ2IUjlGT .dropdown-item:hover span {
  color: white;
}
.cid-tqQ2IUjlGT .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tqQ2IUjlGT .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tqQ2IUjlGT .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tqQ2IUjlGT .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tqQ2IUjlGT .nav-link {
  position: relative;
}
.cid-tqQ2IUjlGT .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tqQ2IUjlGT .container {
    flex-wrap: wrap;
  }
}
.cid-tqQ2IUjlGT .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tqQ2IUjlGT .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tqQ2IUjlGT .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tqQ2IUjlGT .dropdown-menu,
.cid-tqQ2IUjlGT .navbar.opened {
  background: #48887b !important;
}
.cid-tqQ2IUjlGT .nav-item:focus,
.cid-tqQ2IUjlGT .nav-link:focus {
  outline: none;
}
.cid-tqQ2IUjlGT .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tqQ2IUjlGT .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tqQ2IUjlGT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tqQ2IUjlGT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tqQ2IUjlGT .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tqQ2IUjlGT .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tqQ2IUjlGT .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #48887b;
}
.cid-tqQ2IUjlGT .navbar.opened {
  transition: all 0.3s;
}
.cid-tqQ2IUjlGT .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tqQ2IUjlGT .navbar .navbar-logo img {
  width: auto;
}
.cid-tqQ2IUjlGT .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tqQ2IUjlGT .navbar.collapsed {
  justify-content: center;
}
.cid-tqQ2IUjlGT .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tqQ2IUjlGT .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tqQ2IUjlGT .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tqQ2IUjlGT .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tqQ2IUjlGT .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tqQ2IUjlGT .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tqQ2IUjlGT .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tqQ2IUjlGT .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tqQ2IUjlGT .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tqQ2IUjlGT .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tqQ2IUjlGT .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tqQ2IUjlGT .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tqQ2IUjlGT .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tqQ2IUjlGT .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tqQ2IUjlGT .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tqQ2IUjlGT .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tqQ2IUjlGT .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tqQ2IUjlGT .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tqQ2IUjlGT .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tqQ2IUjlGT .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tqQ2IUjlGT .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tqQ2IUjlGT .navbar.navbar-short {
  min-height: 60px;
}
.cid-tqQ2IUjlGT .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tqQ2IUjlGT .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tqQ2IUjlGT .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tqQ2IUjlGT .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tqQ2IUjlGT .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tqQ2IUjlGT .dropdown-item.active,
.cid-tqQ2IUjlGT .dropdown-item:active {
  background-color: transparent;
}
.cid-tqQ2IUjlGT .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tqQ2IUjlGT .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tqQ2IUjlGT .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tqQ2IUjlGT .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #48887b;
}
.cid-tqQ2IUjlGT .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tqQ2IUjlGT .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tqQ2IUjlGT ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tqQ2IUjlGT .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tqQ2IUjlGT button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tqQ2IUjlGT button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #d9da35;
}
.cid-tqQ2IUjlGT button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tqQ2IUjlGT button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tqQ2IUjlGT button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tqQ2IUjlGT button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tqQ2IUjlGT nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tqQ2IUjlGT nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tqQ2IUjlGT nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tqQ2IUjlGT nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tqQ2IUjlGT .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tqQ2IUjlGT a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tqQ2IUjlGT .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tqQ2IUjlGT .navbar {
    height: 70px;
  }
  .cid-tqQ2IUjlGT .navbar.opened {
    height: auto;
  }
  .cid-tqQ2IUjlGT .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-trpmIIbGzD {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #48887b;
}
.cid-trpmIIbGzD .row-links {
  width: 100%;
  justify-content: center;
}
.cid-trpmIIbGzD .social-row {
  width: 100%;
  justify-content: center;
}
.cid-trpmIIbGzD .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-trpmIIbGzD .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-trpmIIbGzD .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-trpmIIbGzD .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-trpmIIbGzD .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-trpmIIbGzD .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-trpmIIbGzD .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-trpmIIbGzD .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-trpmIIbGzD .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-trpmIIbGzD .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-trpmIIbGzD .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-trpmIIbGzD .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-trpmlpOcyn {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-trpmlpOcyn nav.navbar {
  position: fixed;
}
.cid-trpmlpOcyn .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-trpmlpOcyn .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-trpmlpOcyn .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-trpmlpOcyn .dropdown-item:hover,
.cid-trpmlpOcyn .dropdown-item:focus {
  background: #48887b !important;
  color: white !important;
}
.cid-trpmlpOcyn .dropdown-item:hover span {
  color: white;
}
.cid-trpmlpOcyn .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-trpmlpOcyn .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-trpmlpOcyn .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-trpmlpOcyn .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-trpmlpOcyn .nav-link {
  position: relative;
}
.cid-trpmlpOcyn .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-trpmlpOcyn .container {
    flex-wrap: wrap;
  }
}
.cid-trpmlpOcyn .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-trpmlpOcyn .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-trpmlpOcyn .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-trpmlpOcyn .dropdown-menu,
.cid-trpmlpOcyn .navbar.opened {
  background: #48887b !important;
}
.cid-trpmlpOcyn .nav-item:focus,
.cid-trpmlpOcyn .nav-link:focus {
  outline: none;
}
.cid-trpmlpOcyn .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-trpmlpOcyn .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-trpmlpOcyn .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-trpmlpOcyn .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-trpmlpOcyn .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-trpmlpOcyn .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-trpmlpOcyn .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #48887b;
}
.cid-trpmlpOcyn .navbar.opened {
  transition: all 0.3s;
}
.cid-trpmlpOcyn .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-trpmlpOcyn .navbar .navbar-logo img {
  width: auto;
}
.cid-trpmlpOcyn .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-trpmlpOcyn .navbar.collapsed {
  justify-content: center;
}
.cid-trpmlpOcyn .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-trpmlpOcyn .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-trpmlpOcyn .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-trpmlpOcyn .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-trpmlpOcyn .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-trpmlpOcyn .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-trpmlpOcyn .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-trpmlpOcyn .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-trpmlpOcyn .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-trpmlpOcyn .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-trpmlpOcyn .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-trpmlpOcyn .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-trpmlpOcyn .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-trpmlpOcyn .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-trpmlpOcyn .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-trpmlpOcyn .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-trpmlpOcyn .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-trpmlpOcyn .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-trpmlpOcyn .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-trpmlpOcyn .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-trpmlpOcyn .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-trpmlpOcyn .navbar.navbar-short {
  min-height: 60px;
}
.cid-trpmlpOcyn .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-trpmlpOcyn .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-trpmlpOcyn .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-trpmlpOcyn .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-trpmlpOcyn .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-trpmlpOcyn .dropdown-item.active,
.cid-trpmlpOcyn .dropdown-item:active {
  background-color: transparent;
}
.cid-trpmlpOcyn .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-trpmlpOcyn .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-trpmlpOcyn .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-trpmlpOcyn .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #48887b;
}
.cid-trpmlpOcyn .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-trpmlpOcyn .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-trpmlpOcyn ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-trpmlpOcyn .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-trpmlpOcyn button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-trpmlpOcyn button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #d9da35;
}
.cid-trpmlpOcyn button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-trpmlpOcyn button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-trpmlpOcyn button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-trpmlpOcyn button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-trpmlpOcyn nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-trpmlpOcyn nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-trpmlpOcyn nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-trpmlpOcyn nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-trpmlpOcyn .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-trpmlpOcyn a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-trpmlpOcyn .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-trpmlpOcyn .navbar {
    height: 70px;
  }
  .cid-trpmlpOcyn .navbar.opened {
    height: auto;
  }
  .cid-trpmlpOcyn .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-trpmsFM59S {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-trpmsFM59S .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
@media (min-width: 992px) {
  .cid-trpmsFM59S form {
    width: 50%;
  }
}
.cid-trpmsFM59S form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-trpmsFM59S form .mbr-section-btn .btn {
  width: 100%;
}
.cid-trpmIIbGzD {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #48887b;
}
.cid-trpmIIbGzD .row-links {
  width: 100%;
  justify-content: center;
}
.cid-trpmIIbGzD .social-row {
  width: 100%;
  justify-content: center;
}
.cid-trpmIIbGzD .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-trpmIIbGzD .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-trpmIIbGzD .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-trpmIIbGzD .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-trpmIIbGzD .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-trpmIIbGzD .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-trpmIIbGzD .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-trpmIIbGzD .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-trpmIIbGzD .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-trpmIIbGzD .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-trpmIIbGzD .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-trpmIIbGzD .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-trpo66xbX5 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-trpo66xbX5 nav.navbar {
  position: fixed;
}
.cid-trpo66xbX5 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-trpo66xbX5 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-trpo66xbX5 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-trpo66xbX5 .dropdown-item:hover,
.cid-trpo66xbX5 .dropdown-item:focus {
  background: #48887b !important;
  color: white !important;
}
.cid-trpo66xbX5 .dropdown-item:hover span {
  color: white;
}
.cid-trpo66xbX5 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-trpo66xbX5 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-trpo66xbX5 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-trpo66xbX5 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-trpo66xbX5 .nav-link {
  position: relative;
}
.cid-trpo66xbX5 .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-trpo66xbX5 .container {
    flex-wrap: wrap;
  }
}
.cid-trpo66xbX5 .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-trpo66xbX5 .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-trpo66xbX5 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-trpo66xbX5 .dropdown-menu,
.cid-trpo66xbX5 .navbar.opened {
  background: #48887b !important;
}
.cid-trpo66xbX5 .nav-item:focus,
.cid-trpo66xbX5 .nav-link:focus {
  outline: none;
}
.cid-trpo66xbX5 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-trpo66xbX5 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-trpo66xbX5 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-trpo66xbX5 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-trpo66xbX5 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-trpo66xbX5 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-trpo66xbX5 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #48887b;
}
.cid-trpo66xbX5 .navbar.opened {
  transition: all 0.3s;
}
.cid-trpo66xbX5 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-trpo66xbX5 .navbar .navbar-logo img {
  width: auto;
}
.cid-trpo66xbX5 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-trpo66xbX5 .navbar.collapsed {
  justify-content: center;
}
.cid-trpo66xbX5 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-trpo66xbX5 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-trpo66xbX5 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-trpo66xbX5 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-trpo66xbX5 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-trpo66xbX5 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-trpo66xbX5 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-trpo66xbX5 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-trpo66xbX5 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-trpo66xbX5 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-trpo66xbX5 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-trpo66xbX5 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-trpo66xbX5 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-trpo66xbX5 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-trpo66xbX5 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-trpo66xbX5 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-trpo66xbX5 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-trpo66xbX5 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-trpo66xbX5 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-trpo66xbX5 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-trpo66xbX5 .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-trpo66xbX5 .navbar.navbar-short {
  min-height: 60px;
}
.cid-trpo66xbX5 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-trpo66xbX5 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-trpo66xbX5 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-trpo66xbX5 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-trpo66xbX5 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-trpo66xbX5 .dropdown-item.active,
.cid-trpo66xbX5 .dropdown-item:active {
  background-color: transparent;
}
.cid-trpo66xbX5 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-trpo66xbX5 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-trpo66xbX5 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-trpo66xbX5 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #48887b;
}
.cid-trpo66xbX5 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-trpo66xbX5 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-trpo66xbX5 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-trpo66xbX5 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-trpo66xbX5 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-trpo66xbX5 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #d9da35;
}
.cid-trpo66xbX5 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-trpo66xbX5 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-trpo66xbX5 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-trpo66xbX5 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-trpo66xbX5 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-trpo66xbX5 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-trpo66xbX5 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-trpo66xbX5 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-trpo66xbX5 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-trpo66xbX5 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-trpo66xbX5 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-trpo66xbX5 .navbar {
    height: 70px;
  }
  .cid-trpo66xbX5 .navbar.opened {
    height: auto;
  }
  .cid-trpo66xbX5 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-trpoZhfrJF {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-trpoZhfrJF .mbr-fallback-image.disabled {
  display: none;
}
.cid-trpoZhfrJF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trpoZhfrJF .row {
  flex-direction: row-reverse;
}
.cid-trpoZhfrJF .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-trpoZhfrJF .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-trpoZhfrJF .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-trpoZhfrJF .mbr-section-title {
  color: #48887b;
}
.cid-trpo67K9Da {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #48887b;
}
.cid-trpo67K9Da .row-links {
  width: 100%;
  justify-content: center;
}
.cid-trpo67K9Da .social-row {
  width: 100%;
  justify-content: center;
}
.cid-trpo67K9Da .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-trpo67K9Da .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-trpo67K9Da .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-trpo67K9Da .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-trpo67K9Da .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-trpo67K9Da .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-trpo67K9Da .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-trpo67K9Da .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-trpo67K9Da .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-trpo67K9Da .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-trpo67K9Da .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-trpo67K9Da .media-container-row .row-copirayt p {
  width: 100%;
}
