.content {
  padding: 32px;
  background: #fff;
  min-height: 100vh;
  margin-left: 260px;
  transition: all 0.5s ease;
  border-radius: 50px 0 0 50px;
}

.content.active {
  margin-left: 0px;
}

header {
  display: flex;
  margin-bottom: 26px;
  flex-direction: column;
  justify-content: space-between;
}

header h3 {
  margin: 0;
  color: #0d1458;
  font-weight: 700;
  line-height: 42px;
}

header p {
  color: #828ea5;
}

.search {
  width: 300px;
  height: 40px;
  border: none;
  font-size: 14px;
  padding: 0 20px;
  color: #828ea5;
  border-radius: 100px;
  box-sizing: border-box;
  background-color: #f8f9fd;
}

.btn-search {
  right: 80px;
  width: 40px;
  height: 40px;
  color: #000000;
  position: absolute;
  border-radius: 50px;
  background-color: #dce2f4;
}

.avatar {
  width: 50px;
  height: 50px;
  padding: 4px;
  object-fit: cover;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid #3547ac;
}

.information .card {
  border: none;
  width: 340px;
  height: 240px;
  padding: 30px;
  border-radius: 30px;
  box-sizing: border-box;
}

.debit {
  background-image: url('../../assets/images/bg_card.png');
  color: #fff;
  display: flex;
  background-size: cover;
  background-color: #3547ac;
  justify-content: space-between;
  box-shadow: rgba(53, 71, 172, 0.5) 0px 20px 50px 0px;
}

.debit .number {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 17%;
}

.balance,
.donut-chart {
  display: flex;
  align-items: center;
  background-color: #f8f9fd;
  justify-content: space-between;
}

.balance p {
  margin: 0;
  color: #0d1458;
  font-weight: 600;
}

.balance h2 {
  margin: 0;
  color: #3547ac;
  font-weight: 700;
}

.balance div {
  color: #5fbb9e;
  padding: 6px 12px;
  border-radius: 10px;
  background-color: #d6f9ee;
}

.information h5 {
  color: #0d1458;
  font-weight: 600;
  margin-bottom: 30px;
}

.transaction .icon-history {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: #f8f9fd;
}

.transaction .trans-history {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.transaction .title {
  color: #0d1458;
  font-weight: 600;
}

.transaction .date {
  color: #0d1458;
  font-weight: 400;
}

.transaction .outcome {
  font-weight: 500;
  color: #f12f2f;
}

.transaction .income {
  font-weight: 500;
  color: #3547ac;
}
